In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.decomposition import PCA
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
from sklearn.manifold import TSNE

In [2]:
df = pd.read_csv('TQHDL-main/4-1-2022.csv')
df.head(5)

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/ 1M pop,Population,Continent
0,World,489708069,1335087,6171181,3816,424567568.0,1145778.0,58969320.0,56834,62825.0,791.7,0,0,NaN,All
1,China,151103,1827,4638,0,117159.0,1120.0,29306.0,66,105.0,3.0,160000000,111163,1.439324e+09,Asia
2,USA,81813710,30655,1008009,498,65382991.0,144972.0,15422710.0,1988,244662.0,3014.0,984636199,2944528,3.343953e+08,North America
3,India,43027035,1260,521293,82,42492326.0,1404.0,13416.0,8944,30652.0,371.0,789770958,562628,1.403717e+09,Asia
4,Brazil,29975165,27270,660065,205,28739687.0,21107.0,575413.0,8318,139290.0,3067.0,63776166,296357,2.152004e+08,South America

In [3]:
df.drop(df.index[0], inplace=True, axis=0)
df.drop('Country,Other', inplace=True, axis=1)
df.dropna(inplace=True)
df.head(5)

,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/ 1M pop,Population,Continent
1,151103,1827,4638,0,117159.0,1120.0,29306.0,66,105.0,3.0,160000000,111163,1.439324e+09,Asia
2,81813710,30655,1008009,498,65382991.0,144972.0,15422710.0,1988,244662.0,3014.0,984636199,2944528,3.343953e+08,North America
3,43027035,1260,521293,82,42492326.0,1404.0,13416.0,8944,30652.0,371.0,789770958,562628,1.403717e+09,Asia
4,29975165,27270,660065,205,28739687.0,21107.0,575413.0,8318,139290.0,3067.0,63776166,296357,2.152004e+08,South America
5,25763472,148629,142407,134,23311449.0,72304.0,2309616.0,1486,393180.0,2173.0,254106036,3877944,6.552598e+07,Europe

In [4]:
X = df.drop('Continent', axis=1)
y = df['Continent']

In [5]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X)
X = scaler.transform(X)

In [6]:
pca = PCA(n_components=2)
pca.fit(X)
X_embed = pca.transform(X)

In [7]:
df_pca = pd.DataFrame(data=X_embed, columns=['Component_1st', 'Component_2nd'])
df_pca = pd.concat([df_pca, y], axis=1, join='inner')

df_pca

     Component_1st  Component_2nd          Continent
1        25.144696       0.311020               Asia
2        12.744200       8.019850      North America
3         9.643516       2.696569               Asia
4         7.997480      -2.661622      South America
5        11.479336      -3.438928             Europe
..             ...            ...                ...
203      -0.999083       1.050546      North America
205      -0.999154       1.051396             Africa
206      -0.999981       1.050340      North America
207      -0.998142       1.033550      North America
209      -0.999962       1.050912  Australia/Oceania

[195 rows x 3 columns]

In [8]:
df_pca.to_csv('TQHDL-main/PCA.csv', index=False)

In [9]:
lda = LDA(n_components=2)
lda.fit(X, y)
X_embed = lda.transform(X)

In [10]:
df_lda = pd.DataFrame(data=X_embed, columns=['Component_1st', 'Component_2nd'])
df_lda = pd.concat([df_lda, y], axis=1, join='inner')

In [11]:
df_lda.to_csv('TQHDL-main/LDA.csv', index=False)